<template>
  <v-container class="signin-container" fluid="">
    <v-row justify="center" align="center">
      <v-col cols="8" sm="6" md="12">
        <div class="align-card">
          <v-card class="signin-card" color="white">
            <v-card-title class="text-center">
              <h1 class="JoyTypography-root JoyTypography-h4 css-m91tm">
                Sign Up
              </h1>
            </v-card-title>
            <v-card-text>
              <v-form @submit="submitForm">
                <span>Email ID *</span>
                <v-text-field
                  v-model="email"
                  outlined
                  :placeholder="placeholderText"
                  :class="{ 'input-focused': isInputFocused }"
                  @focus="isInputFocused = true"
                  @blur="isInputFocused = false"
                  class="custom-input"
                ></v-text-field>
                <div class="signin-divider"></div>
                <div class="text-center">
                  <v-btn
                    type="submit"
                    size="small"
                    color="#4ce4c5"
                    class="mx-auto my-3 white--text"
                    style="width: 200px; height: 50px"
                  >
                    Sign Up
                  </v-btn>
                </div>
                <v-card-actions></v-card-actions>
                <div class="text-center">
                  <span>New User? </span>
                  <router-link to="/signin">Sign In</router-link>
                </div>
              </v-form>
            </v-card-text>
          </v-card>
        </div>
        <v-card-text class="text-center">
          © 2020-2023 Algorum Software Private Limited
        </v-card-text>
      </v-col>
    </v-row>
    <img
      src="https://d2ab1wyb3z13sw.cloudfront.net/static/media/Illustration-1.9d76bd9a85a902177f34.png"
      alt="Image 1"
      class="bottom-left-img"
    />
    <img
      src="https://d2ab1wyb3z13sw.cloudfront.net/static/media/Illustration-2.d0dbd4b2d5146cbe6583.png"
      alt="Image 2"
      class="bottom-right-img"
    />
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      email: "",
    };
  },
  methods: {
    submitForm() {
      // Add your form submission logic here
      console.log("Form submitted");
    },
  },
};
</script>

<style scoped>
.css-m91tm {
  --Icon-fontSize: 1.25em;
  margin: 0px;
  font-family: var(--joy-fontFamily-body);
  display: block;
  font-size: var(--joy-fontSize-xl2);
  line-height: var(--joy-lineHeight-md);
  letter-spacing: 0.00735em;
  color: var(--joy-palette-text-primary);
  font-weight: var(--joy-fontWeight-lg);
  text-align: left;
}
.white--text {
  color: white !important;
}
.signin-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
.signin-card {
  max-width: 400px;
  margin: 0 auto;
}
.input-focused .v-label {
  color: #4ce4c5;
}

.signin-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}
.text-center {
  text-align: center;
}
.bottom-left-img {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.custom-input .v-input__control {
  height: 18px; /* Set the desired height */
}
.bottom-right-img {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
</style>
