<template>
  <v-container class="verification-container" fluid>
    <v-row justify="center" align="center">
      <v-col cols="12" md="12">
        <div>
          <v-card class="verification-card" color="white">
            <v-card-title class="text-heading">
              Verification Code
            </v-card-title>
            <v-card-text class="text">
              <p class="JoyTypography-root JoyTypography-body2 css-21n35r">
                A verification code has been sent to the registered email
                <b>diptimaya.patra@gmail.com</b>. Kindly check the code and
                enter below.
              </p>
              <div class="joy-code-input">
                <div class="code-input-wrapper" v-for="index in 6" :key="index">
                  <input
                    :id="`code-input-${index}`"
                    type="text"
                    min="0"
                    max="9"
                    maxlength="1"
                    autocomplete="off"
                    data-valid="true"
                    inputmode="numeric"
                    v-model="otp[index - 1]"
                    class="code-input"
                    @input="checkOtp"
                  />
                </div>
              </div>
              <v-card-actions></v-card-actions>
              <div class="joy-code-input">
                <p class="JoyTypography-root JoyTypography-body1 css-stp4m0">
                  New User?
                  <a
                    class="JoyLink-root JoyLink-colorPrimary JoyLink-inherit JoyLink-underlineHover css-1dga7yy"
                    href="/signup"
                    >Signup</a
                  >
                </p>
              </div>
              <div class="joy-code-input" style="margin-top: 0.5em">
                <router-link to="/signin">Start Over</router-link>
              </div>
            </v-card-text>
          </v-card>
        </div>
        <v-card-text class="text-center">
          © 2020-2023 Algorum Software Private Limited
        </v-card-text>
      </v-col>
    </v-row>
    <img
      src="https://d2ab1wyb3z13sw.cloudfront.net/static/media/Illustration-1.9d76bd9a85a902177f34.png"
      alt="Image 1"
      class="bottom-left-img"
    />
    <img
      src="https://d2ab1wyb3z13sw.cloudfront.net/static/media/Illustration-2.d0dbd4b2d5146cbe6583.png"
      alt="Image 2"
      class="bottom-right-img"
    />
  </v-container>
</template>

<script>
export default {
  name: "VerificationComponent",
  data() {
    return {
      otp: ["", "", "", "", "", ""],
    };
  },
  methods: {
    checkOtp() {
      const enteredOtp = this.otp.join("");
      if (enteredOtp === "111111") {
        this.$router.push("/dashboardinfo"); // Replace "/dashboard" with your desired route
      }
    },
  },
};
</script>

<style scoped>
.css-m91tm {
  --Icon-fontSize: 1.25em;
  margin: 0px;
  font-family: var(--joy-fontFamily-body);
  display: block;
  font-size: var(--joy-fontSize-xl2);
  line-height: var(--joy-lineHeight-md);
  letter-spacing: 0.00735em;
  color: var(--joy-palette-text-primary);
  font-weight: var(--joy-fontWeight-lg);
  text-align: left;
}
.verification-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
.text-center {
  text-align: center;
}
.verification-card {
  max-width: 400px;
  margin: 0 auto;
}

.code-input {
  font-family: monospace;
  border-radius: 6px;
  align-items: center;
  border: 1px solid lightgrey;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
  margin: 2px;
  padding-left: 8px;
  width: 36px;
  height: 42px;
  font-size: 32px;
  box-sizing: border-box;
  color: black;
  background-color: white;
}
.bottom-left-img {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.code-input-wrapper:focus {
  outline: 3px solid #4ce4c5;
}
.joy-code-input {
  display: flex;
  justify-content: center;
}

.code-input-wrapper {
  display: inline-block;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 4px;
}

.text {
  padding-bottom: 16px;
}

.bottom-right-img {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.position-relative {
  position: relative;
}
</style>
