<template>
  <div class="app_container">
    <v-container class="dashboard_container" fluid>
      <v-row class="top_tickers_container">
        <v-col cols="12" md="6" lg="4" class="top_ticker_container">
          <span class="ticker_label">NIFTY 50</span>
          <span class="ticker_value">18197.67</span>
          <span class="ticker_percentage">0.51%</span>
        </v-col>
        <v-col cols="12" md="6" lg="4" class="top_ticker_container">
          <span class="ticker_label">BANK NIFTY</span>
          <span class="ticker_value">61167.45</span>
          <span class="ticker_percentage">-3.51%</span>
        </v-col>
      </v-row>

      <v-row class="favourite_container">
        <v-col
          cols="12"
          md="6"
          lg="4"
          v-for="(ticker, index) in favouriteTickers"
          :key="index"
        >
          <div
            class="favourite_ticker_container"
            :class="
              ticker.percentage < 0 ? 'ticker_negative' : 'ticker_positive'
            "
          >
            <span class="ticker_container">{{ ticker.name }}</span>
            <div class="ticker_info_container">
              <span class="ticker_percentage">{{ ticker.percentage }}</span>
              <v-icon class="ticker_icon">{{
                ticker.percentage < 0 ? "mdi-arrow-down" : "mdi-arrow-up"
              }}</v-icon>
              <span class="ticker_value">{{ ticker.value }}</span>
            </div>
            <div class="ticker_actions_container">
              <div class="actions_container">
                <div class="ticker_action_container action_bg_buy">B</div>
                <div class="ticker_action_container action_bg_sell">S</div>
                <div class="ticker_action_container action_bg_other">
                  <v-icon class="delete_icon" @click="deleteTicker(index)"
                    >mdi-delete-outline</v-icon
                  >
                </div>
              </div>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      favouriteTickers: [
        { name: "NIFTY JAN 14750 CE", percentage: "14.95", value: "93417.85" },
        { name: "NIFTY JAN 14850 CE", percentage: "-4.95", value: "3717.85" },
        { name: "NIFTY JAN 14650 CE", percentage: "8.95", value: "3407.85" },
        { name: "NIFTY JAN 14550 CE", percentage: "-0.95", value: "1417.85" },
        {
          name: "BANKNIFTY JAN 40500 PE",
          percentage: "-10.35",
          value: "5467.85",
        },
      ],
    };
  },
  methods: {
    deleteTicker(index) {
      this.favouriteTickers.splice(index, 1);
    },
  },
};
</script>
<style scoped>
.dashboard_container {
  height: 100vh;
}

.top_ticker_container {
  display: flex;
  align-items: center;
}

.ticker_label {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.ticker_value {
  font-size: 1rem; /* Add your desired font size here */
}

.ticker_percentage {
  font-size: 0.8rem;
  margin-left: 0.3rem;
}

.favourite_ticker_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.ticker_positive {
  background-color: #c8e6c9;
  color: #388e3c;
}

.ticker_negative {
  background-color: #ffcdd2;
  color: #d32f2f;
}

.ticker_container {
  font-weight: bold;
  margin-right: 0.5rem;
}

.ticker_info_container {
  display: flex;
  align-items: center;
}

.ticker_icon {
  margin: 0 0.3rem;
  font-size: 1.2rem;
}

.ticker_actions_container {
  display: flex;
}

.actions_container {
  display: flex;
  margin-left: auto;
}

.ticker_action_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.3rem;
  font-weight: bold;
  color: #fff;
}

.action_bg_buy {
  background-color: #64b5f6;
}

.action_bg_sell {
  background-color: #ef5350;
}

.action_bg_other {
  background-color: #bdbdbd;
}

.delete_icon {
  color: #fff;
  cursor: pointer;
}
</style>
